.archivierung_box {
    border-top: 3px solid #3979b5;
    padding: 20px;
    margin: 10px 10px 0px 10px;
    background-color: #e8e8e8bf;
    border-radius: 13px;
}

.archivierung_box table {
    width: 100%;
}

.archivierung_box table tr td select {
    width: 200px;
}

table #tr_sem {
    font-weight: bold;
    text-align: left;
    background-color: #3979b5;
    vertical-align: top;
    word-wrap: break-word;
    margin-bottom: 10px;
}

table #tr_sem td {
    margin: 10px;
}

table #tr_sem #td_f {
    width: 55px;
    padding: 10px;
    color: white;
}

table #tr_sem #td_s {
    width: 750px;
    padding: 10px;
    color: white;
}

table #tr_sem a {
    color: white;
    text-align: left;
    background-color: #3979b5;
    word-wrap: break-word;
}

content table {
    border-spacing: 0px;
    border-collapse: collapse;
    border: 1px solid rgba(34, 36, 38, .2);
    width: 100%;
}

content table tr th {
    margin: 10px;
    border-left: 1px solid rgba(34, 36, 38, .2);
    border-bottom: 1px solid rgba(34, 36, 38, .2);
    padding: .78571429em;
    text-align: inherit;
    border-radius: 6px;
    font-size: 14.2px;
}

content table tr {
    margin: 5px;
}

content table tr td {
    margin: 10px;
    border-left: 1px solid rgba(34, 36, 38, .2);
    border-bottom: 1px solid rgba(34, 36, 38, .2);
    padding: .78571429em;
    text-align: inherit;
    border-radius: 6px;
    font-size: 14.2px;
}

sem {
    margin-left: 20px;
    margin-right: 130px;
}

#bars {
    background-color: #94cad4;
    padding: 5px;
    border-radius: 100px;
}