.bootstrap-select show-tick {
    width: 140px;
}

.bootstrap-select>.dropdown-toggle.bs-placeholder.btn-primary,
.bootstrap-select>.dropdown-toggle.bs-placeholder.btn-secondary,
.bootstrap-select>.dropdown-toggle.bs-placeholder.btn-success,
.bootstrap-select>.dropdown-toggle.bs-placeholder.btn-danger,
.bootstrap-select>.dropdown-toggle.bs-placeholder.btn-info,
.bootstrap-select>.dropdown-toggle.bs-placeholder.btn-dark,
.bootstrap-select>.dropdown-toggle.bs-placeholder.btn-primary:hover,
.bootstrap-select>.dropdown-toggle.bs-placeholder.btn-secondary:hover,
.bootstrap-select>.dropdown-toggle.bs-placeholder.btn-success:hover,
.bootstrap-select>.dropdown-toggle.bs-placeholder.btn-danger:hover,
.bootstrap-select>.dropdown-toggle.bs-placeholder.btn-info:hover,
.bootstrap-select>.dropdown-toggle.bs-placeholder.btn-dark:hover,
.bootstrap-select>.dropdown-toggle.bs-placeholder.btn-primary:focus,
.bootstrap-select>.dropdown-toggle.bs-placeholder.btn-secondary:focus,
.bootstrap-select>.dropdown-toggle.bs-placeholder.btn-success:focus,
.bootstrap-select>.dropdown-toggle.bs-placeholder.btn-danger:focus,
.bootstrap-select>.dropdown-toggle.bs-placeholder.btn-info:focus,
.bootstrap-select>.dropdown-toggle.bs-placeholder.btn-dark:focus,
.bootstrap-select>.dropdown-toggle.bs-placeholder.btn-primary:active,
.bootstrap-select>.dropdown-toggle.bs-placeholder.btn-secondary:active,
.bootstrap-select>.dropdown-toggle.bs-placeholder.btn-success:active,
.bootstrap-select>.dropdown-toggle.bs-placeholder.btn-danger:active,
.bootstrap-select>.dropdown-toggle.bs-placeholder.btn-info:active,
.bootstrap-select>.dropdown-toggle.bs-placeholder.btn-dark:active {
    height: 30px;
    background-color: white;
    color: black;
}

.btn-primary.focus,
.btn-primary:focus {
    border: 1px solid #ced4da;
}

.btn-primary {
    border: 1px solid #ced4da;
}

.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show>.btn-primary.dropdown-toggle {
    border: 1px solid #ced4da;
}

.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
    width: auto;
}

.show {
    display: none;
}

.bootstrap-select:not(.input-group-btn),
.bootstrap-select[class*="col-"] {
    display: inline;
}

.suche {
    padding: 2%;
    background-color: rgba(34, 36, 38, .01);
    border: 1px solid rgba(34, 36, 38, .1);
    border-radius: 6px;
    background-image: linear-gradient(to top, rgba(34, 36, 38, .01) 0%, rgba(34, 36, 38, .02) 70%);
}

.suche b {
    font-size: 14px;
}

.suche table {
    width: 100%;
    text-align: center
}

.suche select {
    width: 150px;
    margin-left: 20px;
}

.suche form {
    margin-bottom: 2%;
}


/* Modulübersicht CSS*/

.modul_table_uebersicht_Abschlussarbeit {
    border-top: 4px solid #3979b5;
}
.modul_table_uebersicht_Seminararbeit {
    border-top: 4px solid rgb(19, 48, 106);
}

.modul_anzeige .collapsed {
    margin-left: 10px;
}



.modul_text_Abschlussarbeit {
width: 100px;
height: 20px;
position: relative;
background-color: #3979b5; 
font-size: 12px;
margin-bottom: -3px;
color: white;
text-align: center;
top: 20px;
right: 10px;
}
.modul_text_Seminararbeit {
    width: 100px;
    height: 20px;
    position: relative;
    background-color: #13306a;
    font-size: 12px;
    margin-bottom: -3px;
    color: white;
    text-align: center;
    top: 20px;
    right: 10px;
    }

    .modul_shadow_Abschlussarbeit {
        width: 11px;
        height: 10px;
        position: relative;
        background-color: #3979b5; 
        font-size: 12px;
        margin-bottom: -3px;
        color: white;
        text-align: center;
        top: 20px;
        right: 10px;
        }
        
    .modul_shadow_Seminararbeit {
        width: 11px;
        height: 10px;
        position: relative;
        background-color: #13306a;
        font-size: 12px;
        margin-bottom: -3px;
        color: white;
        text-align: center;
        top: 20px;
        right: 10px;
        }

    .modul_shadow_white {
        width: 11px;
        height: 10px;
        position: relative;
        background-color: white;
        font-size: 12px;
        margin-bottom: -3px;
        color: white;
        text-align: center;
        top: 15px;
        right: 15.6px;
        padding: 5px;
        content: " ";
        transform: skew(60.67deg, 0deg);
        }
    
/*
.modul_side_Abschlussarbeit{
    width: 13.5px;
    height: 10px;
    top: 3;
    position: relative;
    background-color:#3979b5; 
    left: 80px;
    transform: skew(40.67deg, 0deg);
}

.modul_side_Seminararbeit{
    width: 15.5px;
    height: 20px;
    top: 3;
    position: relative;
    background-color: #13306a;
    left: 84px;
    transform: skew(40.67deg, 0deg);
    margin-bottom: -10;
}
 */

.modul_anzeige table {
    width: 100%;
    border-bottom: 1px solid rgba(34, 36, 38, .15);
    border-left: 1px solid rgba(34, 36, 38, .15);
    border-right: 1px solid rgba(34, 36, 38, .15);
    box-shadow: none;
    border-radius: .48571429rem;
    text-align: left;
    color: rgba(0, 0, 0, .87);
    border-collapse: separate;
    border-spacing: 0;
}

.modul_anzeige table tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
    border: 1px solid rgba(34, 36, 38, .1);
}

.modul_anzeige tr th {
    cursor: auto;
    color: rgba(34, 36, 38, .85);
    background: #F9FAFB;
    text-align: inherit;
    color: rgba(0, 0, 0, .87);
    padding: .82857143em .68571429em;
    vertical-align: inherit;
    text-transform: none;
    background-image: linear-gradient(to top, rgba(34, 36, 38, .01) 0%, rgba(34, 36, 38, .015) 20%);
}

.modul_anzeige table tr td {
    color: rgba(34, 36, 38, .85);
    border-left: 1px solid rgba(34, 36, 38, .1);
    border-bottom: 1px solid rgba(34, 36, 38, .1);
    padding: .78571429em;
    text-align: inherit;
    border-radius: 6px;
}

.modul_anzeige inside table tr th {
    padding: .58571429em;
    line-height: 1.5;
    margin: 60px auto;
    color: #000000;
    font-weight: bold;
    border-bottom: 2px solid #3979b5;
    border-left: 1px solid rgba(34, 36, 38, .1);
}

.modul_anzeige table tr:nth-child(2n-2) {
    background-color: rgba(34, 36, 38, .025);
    font-size: 14px;
    font-family: 'Open Sans Condensed', sans-serif;
    color: #333;
    border-radius: 6px;
}

.modul_anzeige table tr:nth-child(2n-1) {
    background-color: rgba(34, 36, 38, .01);
    font-family: 'Open Sans Condensed', sans-serif;
    color: #333;
    border-radius: 6px;
}

.modul_anzeige table tr th a {
    margin-left: 10px;
}

#coll {
    margin-left: 10px;
}

.th_table {
    border-bottom: 0px solid #ffffff;
}

.th_table tr {
    border-bottom: 0px solid #ffffff;
}

.border_round {
    float: left;
    font-size: 11.4px;
    margin: 2px;
    background-color: white;
    border: 1px solid #ced4da;
    padding: 7px;
    border-radius: .95rem
}

titel {
    font-size: 14.5px;
    line-height: 10px;
    text-align: center;
    font-weight: 700;
}

th {
    font-weight: normal;
}

#hide {
    display: none;
}

.vergeben {
    background-color: red;
}

.bewerbung {
    color: #fff;
    border-radius: 10px;
    padding: 10px;
    background-color: #28a745;
    float: right;
    min-width: 170px;
    margin-bottom: 15px;
}

[data-toggle="collapse"] i:before {
    font-size: 17px;
    content: "\f13a";
}

[data-toggle="collapse"].collapsed i:before {
    content: "\f138";
}

.nopadding {
    padding: 0 !important;
}

.information_content {
    padding: 10px 10px 10px 15px;
}

.information_content_inhalt {
    font-size: 11.5px;
    margin-left: 5px;
    padding: 10px;
    background-color: #F6F7F6;
    border: 1px solid #EBECEB;
}

.information_titel {
    font-size: 13px;
    padding-bottom: 2px;
    margin-bottom: 10px;
}

.vergeben {
    width: 90%;
    font-size: 11.4px;
    color: #BB0A21;
    padding: 3px;
    background-color: #F8E8EA;
    border: 1px solid #efc2c2;
    border-radius: 5px;
}
.verfügbar {
    width: 90%;
    font-size: 11.4px;
    color: rgb(101, 135, 82);
    background-color: rgb(232, 238, 223);
    padding: 3px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(172, 193, 138);
    border-image: initial;
    border-radius: 5px;
}

/* BUTTON  */

.button-two {
    text-align: center;
    cursor: pointer;
    font-size: 24px;
    margin: 0 0 0 20px;
}


/*Button Two*/

.button-two {
    border-radius: 4px;
    font-family: 'Oswald', sans-serif;
    background-color: #3e7d14;
    border: none;
    padding: 10px;
    width: 150px;
    transition: all 0.5s;
    font-size: 15px;
    color: white;
    border-radius: 20px;
}

.button-two span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button-two span:after {
    content: '»';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button-two:hover span {
    padding-right: 25px;
}

.button-two:hover span:after {
    opacity: 1;
    right: 0;
}

.btn-secondary.disabled,
.btn-secondary:disabled {
    border-radius: 4px;
    font-family: 'Oswald', sans-serif;
    border: none;
    padding: 10px;
    width: 150px;
    font-size: 15px;
    border-radius: 20px;
}

.show {
    display: none;
}

tags .badge-primary {
    padding: 5px;
}