.bootstrap-select show-tick {
    width: 140px;
}

geschlossen a {
    margin: -15px 0 0 -10px;
    float: right;
}

vorkenntnisseWH small {
    font-size: 90%;
}

.bootstrap-select>.dropdown-toggle.bs-placeholder.btn-primary,
.bootstrap-select>.dropdown-toggle.bs-placeholder.btn-secondary,
.bootstrap-select>.dropdown-toggle.bs-placeholder.btn-success,
.bootstrap-select>.dropdown-toggle.bs-placeholder.btn-danger,
.bootstrap-select>.dropdown-toggle.bs-placeholder.btn-info,
.bootstrap-select>.dropdown-toggle.bs-placeholder.btn-dark,
.bootstrap-select>.dropdown-toggle.bs-placeholder.btn-primary:hover,
.bootstrap-select>.dropdown-toggle.bs-placeholder.btn-secondary:hover,
.bootstrap-select>.dropdown-toggle.bs-placeholder.btn-success:hover,
.bootstrap-select>.dropdown-toggle.bs-placeholder.btn-danger:hover,
.bootstrap-select>.dropdown-toggle.bs-placeholder.btn-info:hover,
.bootstrap-select>.dropdown-toggle.bs-placeholder.btn-dark:hover,
.bootstrap-select>.dropdown-toggle.bs-placeholder.btn-primary:focus,
.bootstrap-select>.dropdown-toggle.bs-placeholder.btn-secondary:focus,
.bootstrap-select>.dropdown-toggle.bs-placeholder.btn-success:focus,
.bootstrap-select>.dropdown-toggle.bs-placeholder.btn-danger:focus,
.bootstrap-select>.dropdown-toggle.bs-placeholder.btn-info:focus,
.bootstrap-select>.dropdown-toggle.bs-placeholder.btn-dark:focus,
.bootstrap-select>.dropdown-toggle.bs-placeholder.btn-primary:active,
.bootstrap-select>.dropdown-toggle.bs-placeholder.btn-secondary:active,
.bootstrap-select>.dropdown-toggle.bs-placeholder.btn-success:active,
.bootstrap-select>.dropdown-toggle.bs-placeholder.btn-danger:active,
.bootstrap-select>.dropdown-toggle.bs-placeholder.btn-info:active,
.bootstrap-select>.dropdown-toggle.bs-placeholder.btn-dark:active {
    height: 34px;
    background-color: white;
    color: #495057;
    /* -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075); */
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.btn-primary.focus,
.btn-primary:focus {
    border: 1px solid #ced4da;
}

.btn-primary {
    border: 1px solid #ced4da;
}

.btn-primary:not(:disabled):not(.disabled):focus,
.btn-primary:not(:disabled):not(.disabled).focus,
.show>.btn-primary.dropdown-toggle {
    border: 1px solid white;
}

.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show>.btn-primary.dropdown-toggle {
    border: 1px solid #ced4da;
}

.btn-primary:not(:disabled):not(.disabled):hover,
.btn-primary:not(:disabled):not(.disabled).hover,
.show>.btn-primary.dropdown-toggle {
    border: 1px solid #ced4da;
}

.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show>.btn-primary.dropdown-toggle {
    color: black;
    background-color: #ffffff;
}

.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
    width: auto;
}

.show {
    display: none;
}

.bootstrap-select:not(.input-group-btn),
.bootstrap-select[class*="col-"] {
    display: inline;
}

.selectparent select {
    background-image: linear-gradient(45deg, transparent 50%, #495057 60%), linear-gradient(135deg, #495057 40%, transparent 50%) !important;
    background-position: calc(100% - 13px) 12px, calc(100% - 8px) 12px, 100% 0;
    background-size: 5px 4px, 5px 4px;
    background-repeat: no-repeat;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.suche {
    padding: 2%;
    background-color: rgba(34, 36, 38, .01);
    border: 1px solid rgba(34, 36, 38, .1);
    border-radius: 6px;
    background-image: linear-gradient(to top, rgba(34, 36, 38, .01) 0%, rgba(34, 36, 38, .02) 70%);
}

.suche b {
    font-size: 14px;
}

.suche table {
    width: 100%;
    text-align: center
}

.suche select {
    width: 150px;
    margin-left: 20px;
}

.suche form {
    margin-bottom: 2%;
}


/* Modulübersicht CSS*/

.modul_table_uebersicht_Abschlussarbeit {
    border-top: 4px solid #3979b5;
}

.modul_table_uebersicht_Seminararbeit {
    border-top: 4px solid rgb(19, 48, 106);
}

.modul_anzeige .collapsed {
    margin-left: 10px;
}

.modul_text_Abschlussarbeit {
    width: 100px;
    height: 19px;
    position: relative;
    background-color: #125ba0;
    font-size: 12px;
    margin-bottom: -3px;
    color: white;
    text-align: center;
    top: 20px;
    right: 10px;
}

.modul_text_Seminararbeit {
    width: 100px;
    height: 19px;
    position: relative;
    background-color: #13306a;
    font-size: 12px;
    margin-bottom: -3px;
    color: white;
    text-align: center;
    top: 20px;
    right: 10px;
    margin-top: 5px;
}

filter table .dropdown-menu {
    margin-left: -20px;
    border-radius: 10px;
}

.modul_shadow_Abschlussarbeit {
    width: 11px;
    height: 10px;
    position: relative;
    background-color: #3979b5;
    font-size: 12px;
    margin-bottom: -3px;
    color: white;
    text-align: center;
    top: 23px;
    right: 11px;
}

.modul_shadow_Abschlussarbeit::after {
    /* width: 11px; */
    /* padding-left: 10px; */
    /* height: 5px; */
    position: relative;
    padding: 12px;
    background-color: white;
    font-size: 12px;
    margin-bottom: -3px;
    color: white;
    text-align: center;
    top: 16.5px;
    right: 1px;
    /* right: 10px; */
    content: " ";
}

.modul_shadow_Seminararbeit {
    width: 11px;
    height: 10px;
    position: relative;
    background-color: #13306a;
    font-size: 12px;
    margin-bottom: -3px;
    color: white;
    text-align: center;
    top: 23px;
    right: 11px;
}

.modul_shadow_Seminararbeit::after {
    /* width: 11px; */
    /* padding-left: 10px; */
    /* height: 5px; */
    position: relative;
    padding: 12px;
    background-color: white;
    font-size: 12px;
    margin-bottom: -3px;
    color: white;
    text-align: center;
    top: 16.5px;
    right: 1px;
    /* right: 10px; */
    content: " ";
}

.modul_shadow_white {
    width: 11.3px;
    height: 6px;
    position: relative;
    background-color: white;
    font-size: 12px;
    margin-bottom: -3px;
    color: white;
    text-align: center;
    top: 15.5px;
    background-color: white;
    right: 17px;
    /* padding: 5px; */
    transform: skew(60.67deg, 0deg);
}

.suche .btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show>.btn-primary.dropdown-toggle {
    color: #495057;
    /* -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075); */
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    /* background-color: #0062cc; */
    /* border-color: #005cbf; */
}

.bootstrap-select>.dropdown-toggle {
    position: relative;
    width: 150px;
    z-index: 1;
    height: 35px;
    text-align: right;
    white-space: nowrap;
    /* -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075); */
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

filter .btn-primary {
    color: #495057;
    background-color: #fff;
    /* border-color: #007bff; */
}

filter .btn-primary:hover,
filter .btn-primary:focus,
filter .btn-primary:active,
filter .btn-primary.active,
.open>.dropdown-toggle.btn-primary {
    color: #495057;
    background-color: white;
    border-color: whitered;
    /*set the color you want here*/
    /* -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075); */
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.modul_anzeige table {
    width: 100%;
    border-bottom: 1px solid rgba(34, 36, 38, .15);
    border-left: 1px solid rgba(34, 36, 38, .15);
    border-right: 1px solid rgba(34, 36, 38, .15);
    box-shadow: none;
    border-radius: .48571429rem;
    text-align: left;
    color: rgba(0, 0, 0, .87);
    border-collapse: separate;
    border-spacing: 0;
}

.modul_anzeige table tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
    border: 1px solid rgba(34, 36, 38, .1);
}

.modul_anzeige tr th {
    cursor: auto;
    color: rgba(34, 36, 38, .85);
    background: #F9FAFB;
    text-align: inherit;
    color: rgba(0, 0, 0, .87);
    padding: .82857143em .68571429em;
    vertical-align: inherit;
    text-transform: none;
    background-image: linear-gradient(to top, rgba(34, 36, 38, .01) 0%, rgba(34, 36, 38, .015) 20%);
}

.modul_anzeige table tr td {
    color: rgba(34, 36, 38, .85);
    border-left: 1px solid rgba(34, 36, 38, .1);
    border-bottom: 1px solid rgba(34, 36, 38, .1);
    padding: .78571429em;
    text-align: inherit;
    border-radius: 6px;
}

.modul_anzeige inside table tr th {
    padding: .58571429em;
    line-height: 1.5;
    margin: 60px auto;
    color: #000000;
    font-weight: bold;
    border-bottom: 2px solid #3979b5;
    border-left: 1px solid rgba(34, 36, 38, .1);
}

.modul_anzeige table tr:nth-child(2n-2) {
    background-color: rgba(34, 36, 38, .025);
    font-size: 14px;
    font-family: 'Open Sans Condensed', sans-serif;
    color: #333;
    border-radius: 6px;
}

.modul_anzeige table tr:nth-child(2n-1) {
    background-color: rgba(34, 36, 38, .01);
    font-family: 'Open Sans Condensed', sans-serif;
    color: #333;
    border-radius: 6px;
}

.modul_anzeige table tr th a {
    margin-left: 10px;
}

#coll {
    margin-left: 10px;
}

.th_table {
    border-bottom: 0px solid #ffffff;
}

.th_table tr {
    border-bottom: 0px solid #ffffff;
}

.border_round {
    float: left;
    font-size: 11.4px;
    margin: 2px;
    background-color: white;
    border: 1px solid #ced4da;
    padding: 7px;
    border-radius: .95rem
}

titel {
    font-size: 14.5px;
    line-height: 5px;
    text-align: center;
    font-weight: 700;
    margin-top: 5px;
}

th {
    font-weight: normal;
}

#hide {
    display: none;
}

.vergeben {
    background-color: red;
}

.bewerbung {
    color: #fff;
    border-radius: 10px;
    padding: 10px;
    background-color: #28a745;
    float: right;
    min-width: 170px;
    margin-bottom: 15px;
}

[data-toggle="collapse"] i:before {
    font-size: 17px;
    content: "\f13a";
}

[data-toggle="collapse"].collapsed i:before {
    content: "\f138";
}

.nopadding {
    padding: 0 !important;
}

.information_content {
    padding: 10px 10px 10px 15px;
}

.information_content_inhalt {
    font-size: 11.5px;
    margin-left: 5px;
    padding: 10px;
    line-height: 1.3;
    background-color: #F6F7F6;
    border: 1px solid #EBECEB;
}

.information_titel {
    font-size: 13px;
    padding-bottom: 2px;
    margin-bottom: 10px;
}

.vergeben {
    width: 90%;
    font-size: 11.4px;
    color: #BB0A21;
    padding: 3px;
    background-color: #F8E8EA;
    border: 1px solid #efc2c2;
    border-radius: 5px;
}

.verfügbar {
    width: 90%;
    font-size: 11.4px;
    color: rgb(101, 135, 82);
    background-color: rgb(232, 238, 223);
    padding: 3px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(172, 193, 138);
    border-image: initial;
    border-radius: 5px;
}


/* BUTTON  */

.button-two {
    text-align: center;
    cursor: pointer;
    font-size: 24px;
    margin: 0 0 0 20px;
}


/*Button Two*/

.button-two {
    border-radius: 4px;
    font-family: 'Oswald', sans-serif;
    background-color: #3e7d14;
    border: none;
    padding: 10px;
    width: 150px;
    transition: all 0.5s;
    font-size: 15px;
    color: white;
    border-radius: 20px;
}

.button-two span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button-two span:after {
    content: '»';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button-two:hover span {
    padding-right: 25px;
}

.button-two:hover span:after {
    opacity: 1;
    right: 0;
}

.btn-secondary.disabled,
.btn-secondary:disabled {
    border-radius: 4px;
    font-family: 'Oswald', sans-serif;
    border: none;
    padding: 10px;
    width: 150px;
    font-size: 15px;
    border-radius: 20px;
    margin-left: 18px;
}

.show {
    display: none;
}

tags .badge-primary {
    padding: 5px;
}


/* TAGS */

uebersichtTags {
    color: white;
}

uebersichtTags .tags {
    margin: 0;
    padding: 0;
    list-style: none;
}

uebersichtTags .tags li,
.tags a {
    float: left;
    height: 24px;
    line-height: 24px;
    position: relative;
    font-size: 11px;
}

uebersichtTags .tags a {
    font-family: "Open Sans", sans-serif;
    margin-left: 20px;
    padding: 0 10px 0 12px;
    background: #0089e0;
    color: #fff;
    text-decoration: none;
    -moz-border-radius-bottomright: 4px;
    -webkit-border-bottom-right-radius: 4px;
    border-bottom-right-radius: 4px;
    -moz-border-radius-topright: 4px;
    -webkit-border-top-right-radius: 4px;
    border-top-right-radius: 4px;
}

uebersichtTags .tags a:before {
    content: "";
    float: left;
    position: absolute;
    top: 0;
    left: -12px;
    width: 0;
    height: 0;
    border-color: transparent #0089e0 transparent transparent;
    border-style: solid;
    border-width: 12px 12px 12px 0;
}

uebersichtTags .tags a:after {
    content: "";
    position: absolute;
    top: 10px;
    left: 0;
    float: left;
    width: 4px;
    height: 4px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    background: #fff;
    -moz-box-shadow: -1px -1px 2px #004977;
    -webkit-box-shadow: -1px -1px 2px #004977;
    box-shadow: -1px -1px 2px #004977;
}

uebersichtTags .tags a:hover {
    background: #555;
}

uebersichtTags .tags a:hover:before {
    border-color: transparent #555 transparent transparent;
}


/* FORMULARE BEWERBUNGEN */

.abfrageZulassung {
    padding: 10px;
    margin-left: 60px;
    border: 1px solid #adadad80;
}


/* POP OVER BEWERBUNGEN */


/* CSS used here will be applied after bootstrap.css */

.tooltip.top.tooltip-danger>.tooltip-arrow {
    border-top-color: #d9534f;
}

.tooltip.top-right.tooltip-danger>.tooltip-arrow {
    border-top-color: #d9534f;
}

.tooltip.right.tooltip-danger>.tooltip-arrow {
    border-right-color: #d9534f;
}

.tooltip.bottom.tooltip-danger>.tooltip-arrow {
    border-bottom-color: #d9534f;
}

.tooltip.bottom-right.tooltip-danger>.tooltip-arrow {
    border-bottom-color: #d9534f;
}

.tooltip.tooltip-danger>.tooltip-inner {
    color: black;
    padding: 10px;
    max-width: 276px;
    text-align: left;
    white-space: normal;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 6px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}

.fazit {
    margin-bottom: 100px;
}

.fazit table {
    font-size: 14px;
    width: 100%;
    margin: 1em 0;
    border-bottom: 1px solid rgba(34, 36, 38, .15);
    border-left: 1px solid rgba(34, 36, 38, .15);
    border-right: 1px solid rgba(34, 36, 38, .15);
    box-shadow: none;
    border-radius: .28571429rem;
    text-align: left;
    color: rgba(0, 0, 0, .87);
    border-collapse: separate;
    border-spacing: 0;
}

.fazit table tr {
    font-size: 15px;
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
    border-left: 1px solid rgba(34, 36, 38, .1);
}

.fazit table tr th {
    font-size: 15px;
    cursor: auto;
    background: #F9FAFB;
    text-align: inherit;
    color: rgba(0, 0, 0, .87);
    padding: .82857143em .78571429em;
    vertical-align: inherit;
    font-style: none;
    font-weight: 700;
    text-transform: none;
    border-left: 1px solid rgba(34, 36, 38, .1);
    border-bottom: 1px solid rgba(34, 36, 38, .1);
}

.fazit table tr td {
    border-left: 1px solid rgba(34, 36, 38, .1);
    border-bottom: 1px solid rgba(34, 36, 38, .1);
    padding: .58571429em;
    text-align: inherit;
    padding: 7px;
}

.fazit table tr .daten {
    margin: 0px;
    padding: 5px;
    padding-bottom: 0px;
    border-top: 4px solid #3979b5;
}

.fazit table tr .daten h5 {
    border-left: 4px solid #3979b4;
    padding-left: 10px;
}

.windhund .alert-secondary {
    border-bottom: 1px solid rgba(34, 36, 38, .15);
    border-left: 1px solid rgba(34, 36, 38, .15);
    border-right: 1px solid rgba(34, 36, 38, .15);
    background-color: rgba(183, 183, 183, 0.18);
    border-radius: 10px;
}

.ue_txt {
    width: 300px;
    height: 21px;
    position: relative;
    background-color: #3979b4;
    font-size: 14px;
    margin-bottom: -3px;
    color: white;
    text-align: center;
    top: -20px;
    right: 20px;
    margin-top: 5px;
    margin-top: 5px;
}

.ue_txt_v {
    width: 14px;
    height: 12px;
    position: relative;
    background-color: #28639a;
    font-size: 12px;
    margin-bottom: -3px;
    color: white;
    text-align: center;
    /* top: 23px; */
    /* right: 11px; */
}

.ue_txt_wh {
    width: 16.3px;
    height: 14px;
    position: relative;
    background-color: white;
    font-size: 12px;
    /* margin-bottom: -3px; */
    color: white;
    text-align: center;
    /* top: 15.5px; */
    top: -11;
    right: 12px;
    background-color: #ffffff;
    /* right: 17px; */
    /* padding: 5px; */
    transform: skew(55.07deg, 0deg);
}

.fazit table tr td label {
    padding-left: 10px;
}

.fazit button {
    float: right;
    margin-right: 10px;
    margin-top: -10px;
}

.vNein {
    position: relative;
    /* Helps us control overlap */
    /* Creates space for the Phone Icon */
    margin-right: 50px;
}

.vNein:before {
    font-family: "Font Awesome 5 Free";
    content: "\f00d";
    display: inline-block;
    padding-right: 3px;
    padding-left: 10px;
    vertical-align: middle;
    font-weight: 900;
    float: right;
    color: red;
}

.vJa {
    position: relative;
    /* Helps us control overlap */
    /* Creates space for the Phone Icon */
    margin-right: 50px;
}

.vJa:before {
    font-family: "Font Awesome 5 Free";
    content: "\f00c";
    display: inline-block;
    padding-right: 3px;
    padding-left: 10px;
    vertical-align: middle;
    font-weight: 900;
    float: right;
    color: green;
}

bewerbung .fazit hr {
    width: 85%;
    margin-left: 10px;
    padding-right: 10px;
}